.App {
  text-align: center;
  margin: 50px;
}

.survey {
  background-color: rgb(143, 31, 31);
  height: 60px;
  width: 200px;
  color: white;
  font-size: medium;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}
